@charset  "utf-8";


.row{
    background-color: #a52a90;
    color: white;
}
button{
    margin-left: 100px;
    margin-top: 50px;
    

}
.navbar{
    background-color: #a52a90; 
    color: white; 
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
}

.nav-link:hover{
    color: white;
}
.navbar-brand:hover{
    color: white;
}